* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  margin: 25px 0 0 0;
  font-size: 3.6rem;
  text-align: center;
}

h2 {
  margin: 20px 0;
  font-size: 3.0rem;
}

h3 {
  margin: 15px 0;
  font-size: 2.6rem;
}

h4 {
  margin: 10px 0;
  font-size: 2.2rem;
}

h5 {
  margin: 5px 0;
  font-size: 2rem;
}

h6 {
  margin: 0;
  font-size: 1.8rem;
}

hr {
  display: block;
  width: 75%;
  height: 15px;
  margin: 0 auto 50px auto;
  border: none;
  background-image: url(../img/compass.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {

}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li, ol li {
  display: inline-block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

@media ( max-width: 1199px ) {

  .container {
    width: 970px;
  }
}

@media ( max-width: 991px ) {

  .container {
    width: 750px;
  }
}

@media ( max-width: 767px ) {

  .container {
    max-width: 100%;
    width: auto;
  }
}